section {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    background-color: var(--bg);
    
}

header ,section{
    .inner {
        position: relative;
        max-width: 160rem;
        height: 100%;
        margin: auto;

        .btn {
            background-color: var(--primary);
            color: var(--bg);
            border: 0;
            padding: .6rem 1rem;
            cursor: pointer;
            border-radius: .5rem;
            text-transform: uppercase;
        }
        h1.tit {
            font-size: clamp(6rem ,8vw,16rem);
            font-weight: 900;
            text-transform: uppercase;
            line-height: .9;
            letter-spacing: -.05rem;
            span {
                display: block;
            }
            span.star-spin{
                display: inline-block;
            }
        }
        p.txt{
            // 글꼴 정의
            font-size: clamp(2rem,2vw,2.8rem);
            color: var(--gray600);
        }
    }
}

span.star-spin{
    // keyframes 여기에 적용
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    // transform-origin: 50% 50%;
    animation: rotate 3s infinite alternate;
    i.star {
        font-style: normal;
        color: var(--primary);
    }
    // ✱

}
.arrow{
    font-size: 3rem;
}
@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

/* 공통 Neutral Gray 팔레트 */
$neutral: (
  100: #f7f7f7,
  200: #e5e5e5,
  300: #d4d4d4,
  400: #b3b3b3,
  500: #8f8f8f,
  600: #6a6a6a,
  700: #4d4d4d,
  800: #2e2e2e,
  900: #1a1a1a
);

/* 라이트/다크 공통 변수 정의 */
$light: (
  bg: #fcfcfc,
  text: #0f0f0f,
  primary: #47FF97,
  primary200: #25d873,
  underline:#d8d8d8,
  // Gray Tones
  gray100: #f7f7f7,
  // 가장 밝은 회색 (배경 가까움)
  gray200: #e5e5e5,
  gray300: #d4d4d4,
  gray400: #b3b3b3,
  gray500: #8f8f8f,
  gray600: #6a6a6a,
  gray700: #4d4d4d,
  gray800: #2e2e2e,
  gray900: #1a1a1a // 거의 검정에 가까움
);

$dark: (
  bg: #0c0c0c,
  text: #f0f0f0,
  primary: #47FF97,
    primary200: #25d873,
  underline:#2b2b2b,
  gray900: #f7f7f7,
  // 가장 밝은 회색 (배경 가까움)
  gray800: #e5e5e5,
  gray700: #d4d4d4,
  gray600: #b3b3b3,
  gray500: #8f8f8f,
  gray400: #6a6a6a,
  gray300: #4d4d4d,
  gray200: #2e2e2e,
  gray100: #1a1a1a // 거의 검정에 가까움
);

:root {

    /* Neutral 팔레트 추가 */
  @each $k, $v in $neutral {
    --neutral-#{$k}: #{$v};
  }

  @each $k, $v in $light {
    --#{$k}: #{$v};
  }
}

[data-theme="dark"] {
  @each $k, $v in $dark {
    --#{$k}: #{$v};
  }
}